@charset "UTF-8";
#et-main-area {
  position: relative;
  z-index: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Krub", sans-serif;
  background-color: #2e2c2c; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  color: white; }

/*Todo el header*/
.header {
  background-color: #1f1d1d;
  height: 100px;
  width: 100%; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    .header .nav .nav-link {
      color: white;
      text-decoration: none; }
    .header .nav .logo {
      color: #8222db;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 25px;
      padding: 0 30px;
      line-height: 100px; }
      .header .nav .logo .logo:hover {
        transform: scale(1.05);
        transition: all 0.20s;
        color: #8222db; }
    .header .nav .nav-menu {
      display: flex;
      text-transform: uppercase;
      margin-right: 100px;
      list-style: none; }
      .header .nav .nav-menu .nav-menu-item {
        font-size: 18px;
        line-height: 90px;
        margin: 0 10px;
        color: white; }
      .header .nav .nav-menu .nav-menu-link:hover {
        color: #8222db; }
  .header .nav-toggle {
    color: #8222db;
    background: none;
    border: none;
    font-size: 25px;
    padding: 0 20px;
    line-height: 80px;
    display: none; }
  .header i {
    color: white; }

/*--INDEX.HTML--*/
#home, .fondo-contacto, .error_container {
  background-image: linear-gradient(rgba(5, 7, 12, 0.9), rgba(5, 7, 12, 0.9)), url(../images/Dom칩tica.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center; }

.inner-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px; }

#home .inner-width, .fondo-contacto .inner-width, .error_container .inner-width {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center; }
  #home .inner-width .content, .fondo-contacto .inner-width .content, .error_container .inner-width .content {
    width: 100%;
    color: white; }
    #home .inner-width .content h1, .fondo-contacto .inner-width .content h1, .error_container .inner-width .content h1 {
      font-weight: 700; }
  #home .inner-width .buttons, .fondo-contacto .inner-width .buttons, .error_container .inner-width .buttons {
    margin-top: 60px; }
    #home .inner-width .buttons a, .fondo-contacto .inner-width .buttons a, .error_container .inner-width .buttons a {
      display: inline-block;
      margin: 15px 30px;
      color: #8222db;
      font-size: 15px;
      width: 180px;
      border: 1px solid #8222db;
      padding: 14px 0;
      border-radius: 6px;
      transition: .2s linear;
      text-decoration: none; }
    #home .inner-width .buttons a:hover, .fondo-contacto .inner-width .buttons a:hover, .error_container .inner-width .buttons a:hover {
      background-color: #8222db;
      color: white; }
  #home .inner-width .search-box, .fondo-contacto .inner-width .search-box, .error_container .inner-width .search-box {
    margin-top: 50px;
    display: inline-block;
    width: 300px;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #8222db; }
  #home .inner-width .search-box:hover > .search-text, .fondo-contacto .inner-width .search-box:hover > .search-text, .error_container .inner-width .search-box:hover > .search-text {
    width: 200px;
    padding: 0 6px; }
  #home .inner-width .search-btn, .fondo-contacto .inner-width .search-btn, .error_container .inner-width .search-btn {
    color: #8222db;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3d3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; }
  #home .inner-width .search-text, .fondo-contacto .inner-width .search-text, .error_container .inner-width .search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0; }

/*----BLOG----*/
/*--CONTENIDO*/
.container-content {
  width: 1200px;
  margin: auto;
  margin-top: 40px;
  color: white;
  display: flex;
  justify-content: center; }
  .container-content article {
    width: 100%;
    padding: 20px;
    padding-bottom: 40px; }
    .container-content article h1 {
      margin-top: 20px;
      font-weight: 500;
      font-size: 40px; }
    .container-content article p {
      margin-top: 20px;
      font-size: 20px; }
    .container-content article img {
      width: 100%;
      margin-top: 20px; }
    .container-content article li {
      font-size: 20px; }

/*--ASIDE--*/
.container-aside aside {
  width: 320px;
  border-radius: 6px;
  box-shadow: 0 0 20px -20px #1f1d1d;
  overflow: hidden;
  margin-left: 40px;
  margin-bottom: 40px; }
  .container-aside aside img {
    width: 100%; }
  .container-aside aside h2, .container-aside aside p {
    margin-top: 20px;
    padding: 0 20px; }
  .container-aside aside button {
    background-color: #8222db;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    border: none; }

/*---PRODUCTOS.HTML---*/
.titulo_productos, .titulo_servicios {
  margin-top: 30px;
  color: white;
  margin-bottom: 40px;
  justify-content: center;
  text-align: center; }

.container_productos {
  padding-bottom: 100px; }
  .container_productos .row {
    align-items: center;
    justify-content: center; }
  .container_productos .col {
    width: 335px;
    padding: 20px;
    align-items: center; }
  .container_productos .card {
    color: white;
    background-color: #1f1d1d;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border: 3px solid #8222db;
    transition: all 0.25s;
    cursor: pointer; }
  .container_productos .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 15px #1f1d1d; }
  .container_productos .card-img-top {
    width: 100%;
    height: 200px;
    clip-path: polygon(0 0, 100% 0%, 100% 76%, 0 100%, 0% 50%); }

/*--CONTACTO--*/
.fondo-contacto {
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../images/casa-domotica.jpg); }
  .fondo-contacto .p치gina-contacto {
    color: white;
    width: 100%;
    max-width: 1400px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(5, 7, 12, 0.75);
    border-radius: 5px; }
  .fondo-contacto .contactanos {
    width: 100%;
    margin-bottom: 80px;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700; }
  .fondo-contacto .informaci칩n-contacto {
    flex: 1; }
    .fondo-contacto .informaci칩n-contacto .formulario-contacto {
      flex: 1; }
  .fondo-contacto .formulario-contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .fondo-contacto .formulario-contacto .textb {
      width: calc(50% - 10px);
      height: 50px;
      padding: 12px;
      background-color: #3d3b3b;
      border: none;
      color: white;
      margin-bottom: 20px; }
  .fondo-contacto .item {
    margin-bottom: 24px; }
    .fondo-contacto .item .icon {
      color: #8222db;
      font-size: 30px;
      padding: 0 10px; }
  .fondo-contacto textarea {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    padding: 12px;
    background-color: #3d3b3b;
    border: none;
    color: white;
    margin-bottom: 20px; }

.btn, .btn-container .btn-calculadora, .btn-container #miTotal {
  width: 120px;
  height: 40px;
  margin-left: auto;
  background-color: #8222db;
  font-size: 16px;
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #8222db;
  transition: .3s linear; }

.btn:hover, #home .inner-width .search-btn:hover, .fondo-contacto .inner-width .search-btn:hover, .error_container .inner-width .search-btn:hover, .btn-container .btn-calculadora:hover, .btn-container #miTotal:hover, .icon-carrito:hover {
  background-color: transparent;
  color: #8222db; }

/*--SERVICIOS.HTML--*/
/*--MIXINS--*/
.tarjeta-1, .container_servicios .tarjeta-2:hover, .container_servicios .tarjeta-3:hover {
  width: 330px;
  height: 450px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  color: white;
  cursor: pointer; }
  .tarjeta-1 h3, .container_servicios .tarjeta-2:hover h3, .container_servicios .tarjeta-3:hover h3 {
    margin-top: 50px; }

.tarjeta-2 {
  width: 330px;
  height: 450px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  color: white;
  cursor: pointer; }
  .tarjeta-2 h3 {
    margin-top: 50px; }

.tarjeta-3 {
  width: 330px;
  height: 450px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  color: white;
  cursor: pointer; }
  .tarjeta-3 h3 {
    margin-top: 50px; }

.container_servicios {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-bottom: 150px; }
  .container_servicios .tarjeta-1:hover, .container_servicios .tarjeta-2:hover, .container_servicios .tarjeta-3:hover {
    transform: translateY(-15px);
    box-shadow: 3px 3px 9px 10px #8222db; }
  .container_servicios .icon-servicio {
    margin-top: 20px;
    line-height: 70px;
    font-size: 60px;
    color: #8222db; }

/*--FOOTER--*/
footer {
  background: #1f1d1d;
  padding: 30px 0; }
  footer .footer-contenedor {
    max-width: 1300px;
    margin: auto;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse; }
  footer .redes-sociales {
    margin: 20px 0; }
    footer .redes-sociales a {
      color: white;
      margin-right: 25px;
      font-size: 22px;
      text-decoration: none;
      transition: .3s linear; }
    footer .redes-sociales a:hover {
      color: #8222db; }
  footer .columna-derecha {
    font-size: 26px; }
  footer .newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  footer .texto {
    flex: 1;
    padding: 10px 30px;
    font-size: 16px;
    background: #3d3b3b;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px; }
  footer .btn-footer {
    border: 2px solid #8222db;
    color: white;
    border-radius: 2px;
    padding: 10px;
    font-size: 16px;
    background-color: #8222db;
    margin-left: 10px; }
  footer .btn-footer:hover {
    background-color: transparent;
    color: #8222db; }

/*---PAGINA DE ERROR-----*/
.error_container {
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../Imagenes/error.png); }
  .error_container .contenido {
    color: white;
    font-size: 100px; }

/*-----JAVASCRIPT---*/
/*---CALCULOS.HTML---*/
.calculadora-form {
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-top: 200px; }
  .calculadora-form p {
    margin-top: 10px;
    font-size: 20px; }
  .calculadora-form .texto {
    width: 300px;
    border-radius: 20px;
    background-color: #1f1d1d;
    border-color: #8222db;
    padding: 10px;
    color: white;
    text-align: center; }
  .calculadora-form input:focus {
    outline: 1px solid #8222db; }

.btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn-container .btn-calculadora, .btn-container #miTotal {
    margin: 20px; }

/*---CARRITO---*/
.titulo-carrito {
  color: white;
  text-align: center;
  margin: 20px;
  font-size: 40px; }

.card-group {
  margin-bottom: 400px; }

.col-carrito {
  padding: 20px; }
  .col-carrito .card {
    box-shadow: 10px 10px #141414; }
    .col-carrito .card img {
      width: 100%; }
    .col-carrito .card .img-fluid {
      height: 230px; }
  .col-carrito .card-body {
    padding-top: 50px;
    height: 230px;
    background-color: #1f1d1d;
    color: white; }
  .col-carrito .card-precio {
    color: #8222db;
    font-size: 35px;
    font-weight: 700; }

.agregar-carrito {
  width: 300px;
  font-size: 20px;
  background: #8222db;
  border-radius: 10px;
  padding: 10px; }
  .agregar-carrito i {
    padding: 5px; }

.boton-agregar-carrito:hover {
  background-color: transparent;
  color: #8222db;
  border: 1px solid #8222db;
  transition: all 0.25s; }

.icon-carrito {
  font-size: 25px;
  line-height: 100px;
  margin-left: 20px; }

/*---MODAL CARRITO ---*/
.modal-body, .modal-header, .modal-footer {
  background: #1f1d1d;
  color: white; }

.modalImg {
  width: 70px;
  height: 70px;
  border-radius: 10px; }

.modalPrecio {
  font-size: 20px; }

/*---MEDIA QUERIES--*/
@media screen and (max-width: 1020px) {
  .container-content {
    width: 100%;
    flex-direction: column; }
  .container-aside {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .container-aside aside {
      max-width: 300px;
      margin: 10px; } }

@media screen and (max-width: 992px) {
  .header {
    height: 80px; }
    .header .nav {
      display: flex;
      justify-content: space-between;
      margin: 0 auto; }
      .header .nav .nav-link {
        color: white;
        text-decoration: none; }
    .header .logo {
      font-size: 20px;
      padding: 0 20px;
      line-height: 80px; }
    .header .nav-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
      background-color: #3d3b3b;
      position: fixed;
      left: 0;
      top: 80px;
      width: 100%;
      padding: 20px 0;
      height: calc(100% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s;
      z-index: 50; }
      .header .nav-menu .nav-menu-item {
        font-size: 18px;
        line-height: 90px;
        margin: 0 10px;
        width: max-content; }
    .header .nav-menu-link:hover {
      color: #8222db; }
    .header .nav-toggle {
      display: block; }
    .header .nav-menu_visible {
      left: 0; } }
